/* The code in this file line 2-34 is inspired by and adapted from Eveline's tutorial video https://www.youtube.com/watch?v=M_jAoZULcmk*/
* {
  font-family: "Parkinsans", serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 2.9rem;
  color: rgb(7, 87, 7);
  display: inline;
  padding-bottom: 6px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 5rem;
  font-size: 1.5rem;
}
a {
  color: black;
}

@media screen and (max-width: 800px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  #logo {
    margin-bottom: 1rem;
  }
}

/*MAIN*/

.main-img {
  width: 30%;
  filter: blur(0);
  animation-name: blur;
  animation-duration: 3s;
}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  25% {
    filter: blur(7px);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0);
  }
}

div {
  background-color: rgb(26, 98, 26);
  width: 130px;
  height: 50px;
  border-radius: 6%;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-align: center;
  animation-name: zoom;
  animation-duration: 5s;
}

@keyframes zoom {
  25% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}

/* PORTFOLIO SECTION */

/*The code on lines 64 to 83 (+ 35 to 52) was inspired by Eveline's video https://www.youtube.com/watch?v=yvqDrz2D_K8 */

figure {
  margin-left: 0;
}

.portfolio-image {
  width: 80%;
}
@media screen and (min-width: 640px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FOOTER */

footer {
  margin-top: 2rem;
  border-top: 2px solid black;
  display: inline-flex;
}
