/* The code in this file line 2-34 is inspired by and adapted from Eveline's tutorial video https://www.youtube.com/watch?v=M_jAoZULcmk*/
* {
  font-family: "Parkinsans", serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 2.9rem;
  color: rgb(7, 87, 7);
  display: inline;
  padding-bottom: 6px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 5rem;
  font-size: 1.5rem;
}
a {
  color: black;
}

@media screen and (max-width: 800px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  #logo {
    margin-bottom: 1rem;
  }
}

/*MAIN*/

.main-img {
  width: 30%;
}

/* PORTFOLIO SECTION */

figure {
  margin-left: 0;
}

.portfolio-image {
  width: 80%;
}
@media screen and (min-width: 640px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FOOTER */

footer {
  margin-top: 2rem;
  border-top: 2px solid black;
  display: inline-flex;
}
