/* The code in this file line 2-34 is inspired by and adapted from Eveline's tutorial video https://www.youtube.com/watch?v=M_jAoZULcmk*/
* {
  font-family: "Parkinsans", serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 2.9rem;
  color: rgb(7, 87, 7);
  display: inline;
  padding-bottom: 6px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 5rem;
  font-size: 1.5rem;
}
a {
  color: black;
}

.main-img {
  width: 30%;
}

/* FOOTER */

footer {
  margin-top: 2rem;
  border-top: 2px solid black;
  display: inline-flex;
}
